@model BlogSite.Models.AuthorModel
<div class="sidebar-widget mb-50 about-widget">
    <div class="widget-title text-center">
        <h4 class="title mb-30">Hakkımda</h4>
    </div>
    <div class="author-img text-center">
        <img src="@Model.AuthorImage" alt="">
    </div>
    <div class="author-content text-center">
        <span class="auth-title">@Model.AuthorName</span>
        <p>@Model.AuthorAbout</p>
        <ul class="sidebar-social">
            <li><a href="@Model.AuthorFacebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="@Model.AuthorTwitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="@Model.AuthorInstagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
